@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%,
  100% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
}

/* Несколько анимаций пульсаций с разной задержкой */
.pulse-1 {
  animation: pulse 1.6s ease-in-out infinite;
  animation-delay: 0ms;
}
.pulse-2 {
  animation: pulse 2.1s ease-in-out infinite;
  animation-delay: 250ms;
}
.pulse-3 {
  animation: pulse 2.8s ease-in-out infinite;
  animation-delay: 600ms;
}
.pulse-4 {
  animation: pulse 3.4s ease-in-out infinite;
  animation-delay: 900ms;
}
.pulse-5 {
  animation: pulse 4.2s ease-in-out infinite;
  animation-delay: 1200ms;
}
